{% extends 'base-front.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <!-- breadcrumb-section -->
    <div id="all">

    <div id="content" style="margin-left: 450px">
    <div class="container">

    <div class="col-md-6">
    <div class="box">
        <h1 style="text-align: center">Mon profile</h1>
    <!-- end breadcrumb section -->
    <div style="text-align: center">
        <img style="margin-left: 150px" class="class=img-circle img-responsive" src="{{ asset('photo/' ~ app.user.image) }}" alt="" width="200" heigth="200">
        <h4>Nom: {{ app.user.nom}}</h4><br>
        <h4>Prenom: {{ app.user.prenom}}</h4><br>
        <h4>Email: {{ app.user.email}}</h4><br>
        <h4>Numero Téléphone: {{ app.user.num}}</h4><br>

        <a class="btn btn-primary" href="{{ path('profile_edit', {"id": app.user.id}) }}" >Modifier mon profile</a>




    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}