{% extends 'base-front.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>Abonnement</li>
                </ul>
            </div>

            <div class="col-md-9">


                <div class="row products">


                        <div class="col-md-4 col-sm-6">
                            <div class="product" style="border-radius: 20px;">
                                <div class="flip-container" style="margin-left: 25px; margin-top: 25px">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img style="width: 200px; height:500px"
                                                     src="{{ asset('uploads/images/gold.png') }}" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img style="width: 200px; height:500px"
                                                     src="{{ asset('uploads/images/gold.png') }}" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>


                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img style="width: 200px; height:530px"
                                         src="{{ asset('uploads/images/gold.png') }}" alt=""
                                         class="img-responsive">
                                </a>

                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>



                    <!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product" style="border-radius: 20px;">
                            <div class="flip-container" style="margin-left: 25px; margin-top: 25px">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img style="width: 200px; height:500px"
                                                 src="{{ asset('uploads/images/silver.png') }}" alt=""
                                                 class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img style="width: 200px; height:500px"
                                                 src="{{ asset('uploads/images/silver.png') }}" alt=""
                                                 class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img style="width: 200px; height:530px"
                                     src="{{ asset('uploads/images/silver.png') }}" alt=""
                                     class="img-responsive">
                            </a>

                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>



                    <!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product" style="border-radius: 20px;">
                            <div class="flip-container" style="margin-left: 25px; margin-top: 25px">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img style="width: 200px; height:500px"
                                                 src="{{ asset('uploads/images/bronze.png') }}" alt=""
                                                 class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img style="width: 200px; height:500px"
                                                 src="{{ asset('uploads/images/bronze.png') }}" alt=""
                                                 class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img style="width: 200px; height:530px"
                                     src="{{ asset('uploads/images/bronze.png') }}" alt=""
                                     class="img-responsive">
                            </a>

                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>



                    <!-- /.col-md-4 -->
                </div>

                <!-- /.products -->


            </div>
            <!-- /.col-md-9 -->




        </div>


    </div>

    </div>



    <!-- /.container -->


{% endblock %}


