<div class="wrapper">

    <!-- Navbar -->

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="{{ asset("back-office/dist/img/logo2.png")  }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Espace ADMIN</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                     <img src="{{ asset('photo/' ~ app.user.image) }}" class="img-circle elevation-2" alt="User Image" >
                </div>
                <div class="info">
                <a href="{{ path('app_profile') }}" class="d-block">{{ app.user.prenom }}</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{{ path('user_index') }}" class="nav-link">
                            <i class="nav-icon far fa-user"></i>
                            <p>
                                Gestion des utilisateurs
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('reclamation_index') }}" class="nav-link">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                                Gestion reclamations
                            </p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-archive"></i>
                            <p>
                                Gestion Produit
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="{{ path('Produitslist') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p> liste des produits</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('Categorielist') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>liste Categorie</p>
                                </a>
                            </li>

                        </ul>

                    </li>
                    <li class="nav-item">
                        <a href="{{ path('Courslist') }}" class="nav-link">
                            <i class="nav-icon fas fa-football-ball"></i>
                            <p>liste des Cours</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_workout_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-dumbbell"></i>
                            <p>Workout</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('livraisonlist') }}" class="nav-link">
                            <i class="nav-icon fas fa-motorcycle"></i>
                            <p>liste des livraisons</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('achatlist') }}" class="nav-link">
                            <i class="nav-icon fas fa-dollar-sign"></i>
                            <p>liste des achats</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_calendar_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-calendar"></i>
                            <p>Planning</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_abonnement_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-id-badge"></i>
                            <p>Abonnement</p>
                        </a>
                    </li>


            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->