{% extends 'base-back.html.twig' %}

{% block title %}Gestion utilisateur{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Liste des utilisateurs</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped ">
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Mail</th>
                                <th>Téléphone</th>
                                <th>Image</th>
                                <th>Role</th>
                                <th>Compte</th>
                                <th></th>
                            </tr>
                            {% for user in users %}
                                <tr>
                                    <td>{{user.nom|upper}}</td>
                                    <td>{{user.prenom}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.num}}</td>
                                    <td><img src="{{ asset('photo/' ~ user.image) }}"
                                             alt="" style="width: 100px;height:100px;"></td>
                                    <td>{{user.role}}</td>
                                    {% if user.ActivationToken == NULL %}
                                        <td><label class="badge badge-success">Verifié</label></td>
                                    {% else %}
                                        <td><label class="badge badge-warning">Non vérifié</label></td>
                                    {% endif %}
                                    <td class="project-actions text-right">
                                        <a class="btn btn-outline-primary" href="{{ path('role_user', {'id': user.id}) }}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            edit role
                                        </a>
                                        <a class="btn btn-outline-primary" href="{{ path('user_edit', {'id': user.id}) }}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
        </section>
    </div>

{% endblock %}
